[submodule "roles/the-paulus.redhat-subscription"]
	path = roles/the-paulus.redhat-subscription
	url = git@github.com:the-paulus/redhat-subscription.git
[submodule "roles/the-paulus.common-linux-commands"]
	path = roles/the-paulus.common-linux-commands
	url = git@github.com:the-paulus/common-linux-commands.git
[submodule "roles/the-paulus.apache"]
	path = roles/the-paulus.apache
	url = git@github.com:the-paulus/ansible-apache.git
[submodule "roles/the-paulus.extra-repositories"]
	path = roles/the-paulus.extra-repositories
	url = git@github.com:the-paulus/ansible-extra-repositories.git
